.dropdown-content
{
  border-top: 5px solid #3d7dcc;
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 230px;
  left: 10px;
  background-color: #383737;
}

.dropdown-header span
{
  display: inline-block;
  padding: 5px;
}

.filtersWidget
{
  background-color: #474646;
  color: #fff8f7;
  width: 260px;
  position: relative;
}


.filtersWidgetHeader
{
  border-top: 5px solid #3d7dcc;
  padding: 10px;
}

.fa-angle-down
{
  cursor: pointer;
  color: #777;
  font-size: 20px;
}

.widget-content-container
{
  height: 500px;
  position: relative;
  border-top: 2px solid #3d7dcc;
}

.inactive
{
  display: none;
}

.searchWrapper *
{
  display: inline-block;
  padding: 10px;
}

.dropdown-header
{
  padding: 5px;
}

.searchWrapper input
{
  background-color: #777;
  padding: 0px;
  border: 1px solid #b8b8b8;
  color: #fff8f7;
  padding-left: 4px;
}

.close-thik:hover
{
  cursor: pointer;
}

.fa-search
{
  color: #777;
}

.close-thik {
  color: #777;
  position: absolute;
  right: 10px;
  top: 15px;
}

.selectedValues
{
  color: #66abdd;
  font-size: 12px;
}

.dropdowns-container
{
  width: 250px;
  position: relative;
  background-color: #383737;
  vertical-align: middle;
  font-size: 14px;
}

input[type="checkbox"]
{
  background: grey;
}

.dropdown
{
  position: relative;
}

.dropdown-element
{
  padding: 5px;
}

ul
{
  list-style-type: none;
}
