.dropdown-content
{
  border-top: 5px solid #3d7dcc;
  box-sizing: border-box;
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 230px;
  left: 10px;
  background-color: #383737;
}

.filtersWidget
{
  background-color: #474646;
  color: #fff8f7;
  width: 300px;
}

.filtersWidgetHeader
{
  border-bottom: 2px solid #3d7dcc;
}

.inactive
{
  display: none;
}

.dropdown-header
{
  padding: 5px;
}

.selectedValues
{
  color: #66abdd;
  font-size: 12px;
}

.dropdowns-container
{
  width: 250px;
  position: relative;
  background-color: #383737;
  vertical-align: middle;
}

input[type="checkbox"]
{
  background: grey;
}

.dropdown
{
  position: relative;
}

.dropdown-element
{
  padding: 5px;
}

ul
{
  list-style-type: none;
}
