.dropdown-content
{
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0px;
  max-height: 200px;
  overflow-y: scroll;
  background-color: #474646;
}

.dropdown-content-container
{
  border-bottom: 1px solid #777;
}

.scrollable::-webkit-scrollbar
{
  width: 6px;
}

.scrollable::-webkit-scrollbar-thumb
{
  background-color: #242423;
}

.content-element
{
  padding-left: 5px;
}

.filter-elements-wrapper
{
  border: 1.5px solid #b8b8b8;
  border-radius: 3px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  max-width: 35px;

  top: 0;
  z-index: 10;
  box-sizing: border-box;
}

.filter-elements-wrapper:nth-child(2)
{
  margin-left: 35px;
}

.filter-elements-wrapper:nth-child(1)
{
  position: absolute;
}

.text-wrapper
{
  text-align: center;
  margin: 0px;
}

.filter-elements-container
{
  padding-left: 33px;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.dropdown-header span
{
  display: inline-block;
  padding: 5px;
}

.fa-bars
{
  color: #777;
  transform: rotate(90deg);
}

.fa-bars:hover
{
  cursor: move;
}

.dropdown-arrow
{
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
}

.filtersWidget
{
  background-color: #535357;
  color: #fff8f7;
  width: 260px;
  position: relative;
  z-index: 1000;
}

.header-label
{
  display: inline-block;
  margin-left: 10px;
}

.filter-result-container
{
  padding-left: 5px;
  min-height: 60px;
  max-height: 300px;
  overflow-y: scroll;
}

.filter-component
{
  padding-right: 4px;
}

.filter-elements-container-after::after
{
  content: "";
  display: block;
  border-bottom: 1px solid #b8b8b8;
  flex-wrap: nowrap;
  transform: scaleX(0.85);
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-element
{
  padding: 2px;
  font-size: 10px;
  width: 20px;
  box-sizing: content-box;
  position: relative;
  top: 0px;
  flex-basis: content;
}

.content-element-container
{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 12px;
}

.content-element-container:hover
{
  background-color: #3b3a3a;
}

.filter-element:hover
{
  cursor: pointer;
}

.filtersWidgetHeader
{
  border-top: 5px solid #3d7dcc;
  padding: 10px;
}

.widget-content-container
{
  position: relative;
  border-top: 1px solid #3d7dcc;
  background-color: #474646;
}

.searchWrapper *
{
  display: inline-block;
  padding: 10px;
}

.searchWrapper{
  padding: 10px 0px 5px 0px;
}

.dropdown-header
{
  padding: 5px;
}

.searchWrapper input
{
  background-color: #777;
  padding: 0px;
  border: 1px solid #b8b8b8;
  color: #fff8f7;
  padding: 2px;
  padding-left: 4px;
  font-size: 12px;
}

.searchWrapper input::placeholder
{
  color: #c4c2c1;
}

.open-close-thik:hover
{
  cursor: pointer;
}

.fa-search
{
  color: #a3a3a3;
  font-size: 14px;
}

.open-close-thik {
  color: #777;
  position: absolute;
  right: 10px;
  top: 15px;
}

.selectedValues
{
  color: #66abdd;
  font-size: 12px;
  max-width: 110px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  position: absolute;
}

.dropdowns-container
{
  position: relative;
  vertical-align: middle;
  font-size: 14px;
}

.dropdown
{
  position: relative;
}

ul
{
  list-style-type: none;
}